html,
body {
    height: 100%;
}


a.link-head {
    color: #134b18;
}
a.link-head:hover {
    text-decoration: none;
    color: #0f3613;
}

a.link-user {
    color: #1f84aa;
}
a.link-user:hover {
    text-decoration: none;
    color: #075686;
}
a.link-user-give {
    color: #3f3f3f;
}
a.link-user-give:hover {
    text-decoration: none;
    color: #272727;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.params-item {
    margin: 8px 30px 8px 8px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 22px;
    padding-left: 31px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}

.link:hover {
    color: #216178;
    background-color: #949797 !important;
    cursor: pointer
}

.error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 120%;
    color: #dc3545;
}

.booking-item {
    margin: 4px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 22px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}