html,
body {
    height: 100%;
}

.breadcrumb-item>a {
    color: #1e6186;
}

.breadcrumb-item>a:hover {
    color: #053f7f;
}

a.link-admin {
    color: #1e6186;
}
a.link-admin:hover {
    text-decoration: none;
    color: #075686;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

div.required label:after {
    content: " *";
    color: red;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.label-not-bold > table > tbody > tr > td > div > label {
    font-weight: 400 !important;
}


.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star + .fa-star-o {
    color: #E69500;
}

.rating .fa-star-half-o {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star-half-alt {
    color: #FC0;
    font-size: 15px;
}

.params-item {
    margin: 8px 30px 8px 8px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 22px;
    padding-left: 31px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}

.link:hover {
    color: #216178;
    background-color: #949797 !important;
    cursor: pointer
}

.error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 120%;
    color: #dc3545;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-forum {
    display: block;
    width: 140px;
    height: auto;
}
@media screen and (min-width: 600px){
    .adaptive-width-50 {
        width: 50% !important;
    }
}

@media screen and (min-width: 600px){
    .adaptive-width-70 {
        width: 70% !important;
    }
}

@media screen and (min-width: 600px) {
    .adaptive-width-80 {
        width: 80% !important;
    }
}

@media screen and (max-width: 600px) {
    table.table-adaptive {
        border: 0;
    }

    table.table-adaptive thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.table-adaptive tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 30px;
        width: 100%;
    }

    table.table-adaptive td {
        display: block;
        text-align: right;
        width: 100%;
    }

    table.table-adaptive td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.table-adaptive td:last-child {
        border-bottom: 0;
    }
}

.form_radio_group {
    display: inline-block;
    overflow: hidden;
}
.form_radio_group-item {
    display: inline-block;
    float: left;
    background-color: white;
}
.form_radio_group input[type=radio] {
    display: none;
}
.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 10px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    user-select: none;
    margin: 0 !important;
}
.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}
/* Checked */
.form_radio_group input[type=radio]:checked + label {
    background: #8e8e8e;
}
/* Hover */
.form_radio_group label:hover {
    color: #666;
}
/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.booking-item {
    margin: 4px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 22px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}

.link_admin_help {
    padding: 2px;
    border-radius: 3px;
}

.link_admin_help.active {
    background-color: #0a73bb;
}
.link_admin_help a:hover {
    color: white !important;
}

.link_admin_help.active a {
    color: white !important;
}
.calendar-tour-day-info {
    color: #0b3e6f;
    font-size: large;
}

.col_img {
    width: 40px;
    font-size: 26px;
}
.col_fix {
    color: #8b2109;
}
.col_admin {
    width: 90px;
    font-size: 20px;
    z-index: 9999;
    color: #062440 !important;
}
.col_img_mini {
    width: 30px;
    font-size: 20px;
}
.col_forum {
    width: calc(100% - 460px);
}

.col_stat {
    width: 80px;
}

.col_post {
    width: 260px;
}

.row_link {
    cursor: pointer;
    color: #343a40;
}

.row_link:hover {
    background-color: #e8e8e8 !important;
    color: #0b3e6f !important;
}
.row_name {
    font-size: 22px;
    font-weight: 700;
   /* color: #343a40;*/
}
.row_post {
    font-size: 16px;
    font-weight: 600;
    /* color: #343a40;*/
}
.row_description {
    font-size: 13px;
    color: #474747;
}
.bg1 {
    background-color: #e8f5f7 !important;
}
.bg2 {
    background-color: #f3f3f3 !important;
}
.forum-user {
    border-left: 2px solid white;
    padding-left: 8px;
}
