@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'),
    url('../fonts/Comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'Forum';
    src: local('Forum'),
    url('../fonts/Forum/Forum-Regular.ttf');
}

@font-face {
    font-family: 'Didact Gothic';
    src: local('Didact Gothic'),
    url('../fonts/Didact_Gothic/DidactGothic.ttf');
}


html,
body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    /*background: #4f85a5;*/
    --main-light2-color: #3dc7ff;
    --main-light1-color: #34a0cf;
    --main-nav-color: #2aabd2;
    --main-dark1-color: #2980a5;
    --main-dark2-color: #226b8a;
    --seach-menu-color: #f8e173;
}

/* Override the bootstrap defaults */
h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 33px;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 27px;
}

h3 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 21px;
}

h4 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
}

h5 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 12px;
}

h6 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 10.2px;
}

/*f7e59a*/
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.topbar-search-tours {
    padding: 20px 20px;
    background: var(--seach-menu-color);
    border: #122b40 2px;
    margin: 10px 10px;
    /*font-size: 14px !important;*/
}
.leftbar-search-cars {
    padding: 20px 20px;
    background: var(--seach-menu-color);
    border: #122b40 2px;
   /* margin: 10px 10px;*/
    /*font-size: 14px !important;*/
}

.leftbar-search-funs {
    padding: 20px 20px;
    background: var(--seach-menu-color);
    border: #122b40 2px;
    /* margin: 10px 10px;*/
    /*font-size: 14px !important;*/
}

.content-container {
    /* background: #ffffff;*/
}

.label-search {
    font-weight: bold;
    /* font-size: medium;*/
}

.nav-link {
    padding: 0.5rem 0.4rem !important;
}

.params-tour {
    font-size: 14px;
}

.params-item {
    margin: 8px 30px 8px 8px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 22px;
    padding-left: 31px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}

.params-item-map {
    margin: 8px 30px 8px 8px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    /*   display: inline-block;*/
}

.container-hr {
    font-family: 'Comfortaa', sans-serif;
    position: relative;
    padding-top: 24px;
    padding-bottom: 10px;
}

.text-left-hr {
    position: absolute;
    left: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
    font-size: 21px;
}

.text-right-hr {
    position: absolute;
    right: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
    font-size: 21px;
}

.bg-booking-widget {
    background-color: #e7f8ff !important;
}

.errors-tours {
    color: #731825;
}

.errors-cars {
    color: #731825;
}

.price-view {
    font-size: 16px;
    font-weight: 600;
    color: #4b4b4b;
}

.caption-list {
    font-size: 22px;
    color: #203958;
    font-weight: 500;
}

.caption {
    font-size: 18px;
    color: #2d2d2d;
    font-weight: 500;
}

.date-list {
    font-size: 12px;
    color: #203958;
}

.price-list {
    font-size: 26px;
    color: #122032;
    font-weight: 600;
}

.big-red-paid-stamp {
    border: 4px solid #c00;
    font-size: 2em;
    color: #c00;
    position: absolute;
    right: 220px;
    top: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.big-grey-paid-stamp {
    border: 4px solid #656565;
    font-size: 2em;
    color: #656565;
    position: absolute;
    right: 220px;
    top: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

@media screen and (max-width: 600px) {
    .big-red-paid-stamp {
        right: 20px;
    !important;
        top: -10px;
    }

    .big-grey-paid-stamp {
        right: 20px;
    !important;
        top: -10px;
    }
}

.reassurance__list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 1px 5px;
    font-size: 16px;
}

.reassurance__list > li {
    padding: 5px 0px;
}

.reassurance__list > li:before {
    /* position: absolute;
     display: block;*/
    content: '\2611';

    font-size: 16px;
    line-height: 20px;
    color: #008009;
    height: 10px;
    width: 10px;
    left: 0;
    top: 5px;
}

.nowrap-parent {
    white-space: nowrap;
}

.nowrap-child {
    display: inline-block;
}

.width-70 {
    width: 70%;
}

.select-text {
    font-size: 14px;
    color: #122b40;
}

.select-row {
    color: #1b6d85 !important;
}

.select-item {
    font-weight: 600;
}

div.required label:after {
    content: " *";
    color: red;
}

.price-card {
    color: #444;
    font-weight: 600;
    font-size: 22px;
}

.category-card {
    color: #19355f;
}

.link:hover {
    color: #216178;
    background-color: #949797 !important;
    cursor: pointer
}

.btn-wish {
    border-radius: 22px !important;
    border-width: 0 !important;
}

.holder {
    position: relative;
}

.block-wishlist {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: calc(100% - 45px);
    display: none;
}

.holder:hover .block-wishlist {
    display: block;
}

#top-menu {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent !important;
    font-size: 22px;
    /* color: rgba(100, 100, 100, 1) !important;*/
}

.top-menu-a.active {
    color: #ffffff !important;
    border-bottom: solid 3px #ffffff;
}

.top-menu-a {
    color: rgba(255, 255, 255, 0.85) !important;
}

.top-menu-a:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.breadcrumb-site {
    margin: 0 0 20px 0;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    /*padding: $breadcrumb-padding-y $breadcrumb-padding-x;*/
    /*margin-bottom: $breadcrumb-margin-bottom;*/
    font-size: 12px;
    list-style: none;
    /*background-color: $breadcrumb-bg;*/
    /*@include border-radius($breadcrumb-border-radius);*/
}

.breadcrumb-site i {
    font-size: 15px;
}

.breadcrumb-site a {
    color: var(--main-nav-color);
}

.breadcrumb-site > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb-site > li + li:before {
    content: '';
    padding: 0;
}

.breadcrumb-site > li:after {
    content: '>';
    display: block;
    position: absolute;
    top: 0px;
    right: -5px;
    /*  width: 26px;
      height: 26px;
      border-right: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);*/
}

.img-responsive {
    /* display: block;*/
    max-width: 100%;
    height: auto;
}

.sort-bar {
    position: relative;
    border-radius: 3px;
    border: 1px solid var(--main-nav-color);
    border-top: 5px solid var(--main-nav-color);;
    margin: 0 -7px;
    box-sizing: border-box;
}

.sort-bar > ul {
    display: flex;
    flex-wrap: nowrap;

    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    position: relative;
    width: 100%;
}

.sort-bar > ul > li {
    border: 1px solid var(--main-nav-color);
    margin-bottom: -1px;
    flex-grow: 1;
    color: var(--main-dark2-color);
}

.sort-bar > ul > li > a {

    display: block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
    padding: 2px 8px;
}

.sort-bar > ul > li > a:hover {
    color: var(--main-dark2-color);
    background-color: #ddfaff;
}

.sort-bar > ul > li.select {
    background-color: #208a2b !important;
    color: white !important;
    border: 0;
}

.sort-bar > ul > li.select > a {

    color: white !important;

}

.sort-bar > ul > li.select > a:hover {
    background-color: #208a2b !important;
    color: white !important;
    border: 0;
}

.new-object-booking {
    position: absolute;
    top: 0px;
    left: 0px;

    border: 22px solid transparent;
    border-left: 22px solid #00a500;
    border-top: 22px solid #00a500;
}
.new-object-booking>.new-text {
    position: absolute;
    top: -18px;
    left: -22px;
    color: white;
    font-weight: 700;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.image-car-list {
    float: left;
}
.caption-car-list {
    min-height: 228px;
    margin-left: 230px;
}

.image-fun-list {
    float: left;
}
.caption-fun-list {
    min-height: 228px;
    margin-left: 230px;
}