
html,
body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'PT Sans Caption', 'Verdana', 'Dejavu', 'Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background: #4f85a5;*/
    --main-light2-color: #3dc7ff;
    --main-light1-color: #34a0cf;
    --main-nav-color: #2aabd2;
    --main-dark1-color: #2980a5;
    --main-dark2-color: #226b8a;
    --seach-menu-color: #f8e173;
}

/* Override the bootstrap defaults */
h1 {
   /* font-family: 'Comfortaa', sans-serif;*/
    font-family: 'PT Sans Caption', 'Verdana','Dejavu','Sans', sans-serif;
    font-size: 33px;
}

h2 {
    font-family: 'PT Sans Caption', 'Verdana','Dejavu','Sans', sans-serif;
    font-size: 27px;
    text-align: left !important;
}

h3 {
    font-family: 'PT Sans Caption', 'Verdana','Dejavu','Sans', sans-serif;
    font-size: 21px;
}

h4 {
    font-family: 'PT Sans Caption', 'Verdana','Dejavu','Sans', sans-serif;
    font-size: 15px;
}

h5 {
    font-family: 'PT Sans Caption', 'Verdana','Dejavu','Sans', sans-serif;
    font-size: 12px;
}

h6 {
    font-family: 'PT Sans Caption', 'Verdana','Dejavu','Sans', sans-serif;
    font-size: 10.2px;
}

/*f7e59a*/
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.topbar-search-tours {
    padding: 20px 20px;
    background: var(--seach-menu-color);
    border: #122b40 2px;
    margin: 10px 10px;
    /*font-size: 14px !important;*/
}
.leftbar-search-cars {
    padding: 20px 20px;
    background: var(--seach-menu-color);
    border: #122b40 2px;
   /* margin: 10px 10px;*/
    /*font-size: 14px !important;*/
}

.leftbar-search-funs {
    padding: 20px 20px;
    background: var(--seach-menu-color);
    border: #122b40 2px;
    /* margin: 10px 10px;*/
    /*font-size: 14px !important;*/
}

.leftbar-search-stays {
    padding: 20px 20px;
    background: var(--seach-menu-color);
    border: #122b40 2px;
    /* margin: 10px 10px;*/
    /*font-size: 14px !important;*/
}

.content-container {
    /* background: #ffffff;*/
}

.label-search {
    font-weight: bold;
    /* font-size: medium;*/
}

.nav-link {
    padding: 0.5rem 0.4rem !important;
}

.params-tour {
    font-size: 14px;
}

.params-item {
    margin: 8px 30px 8px 8px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 22px;
    padding-left: 31px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
}

.params-item-map {
    margin: 8px 30px 8px 8px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    /*   display: inline-block;*/
}

.container-hr {
    font-family: 'Comfortaa', sans-serif;
    position: relative;
    padding-top: 24px;
    padding-bottom: 10px;
}

.text-left-hr {
    position: absolute;
    left: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
    font-size: 21px;
}

.text-right-hr {
    position: absolute;
    right: 40px;
    top: 29px;
    background: #fff;
    padding: 0 10px;
    font-size: 21px;
}

.bg-booking-widget {
    background-color: #e7f8ff !important;
}

.errors-tours {
    color: #731825;
}

.errors-cars {
    color: #731825;
}

.errors-stays {
    color: #731825;
}

.price-view {
    font-size: 14px;
    font-weight: 600;
    color: #4b4b4b;
}

.caption-list {
    font-size: 22px;
    color: #203958;
    font-weight: 500;
}

.caption {
    font-size: 18px;
    color: #2d2d2d;
    font-weight: 500;
}

.date-list {
    font-size: 12px;
    color: #203958;
}

.price-list {
    font-size: 26px;
    color: #122032;
    font-weight: 600;
}

.big-red-paid-stamp {
    border: 4px solid #c00;
    font-size: 2em;
    color: #c00;
    position: absolute;
    right: 220px;
    top: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.big-grey-paid-stamp {
    border: 4px solid #656565;
    font-size: 2em;
    color: #656565;
    position: absolute;
    right: 220px;
    top: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

@media screen and (max-width: 600px) {
    .big-red-paid-stamp {
        right: 20px;
    !important;
        top: -10px;
    }

    .big-grey-paid-stamp {
        right: 20px;
    !important;
        top: -10px;
    }
}

.reassurance__list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 1px 5px;
    font-size: 16px;
}

.reassurance__list > li {
    padding: 5px 0px;
}

.reassurance__list > li:before {
    /* position: absolute;
     display: block;*/
    content: '\2611';

    font-size: 16px;
    line-height: 20px;
    color: #008009;
    height: 10px;
    width: 10px;
    left: 0;
    top: 5px;
}

.nowrap-parent {
    white-space: nowrap;
}

.nowrap-child {
    display: inline-block;
}

.width-70 {
    width: 70%;
}

.select-text {
    font-size: 14px;
    color: #122b40;
}

.select-row {
    color: #1b6d85 !important;
}

.select-item {
    font-weight: 600;
}

div.required label:after {
    content: " *";
    color: red;
}

.price-card {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #137b26;
}

.category-card {
    color: #19355f;
}

.link:hover {
    color: #216178;
    background-color: #949797 !important;
    cursor: pointer
}

.btn-wish {
    border-radius: 22px !important;
    border-width: 0 !important;
}

.holder {
    position: relative;
}

.block-wishlist {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: calc(100% - 45px);
    display: none;
}

.holder:hover .block-wishlist {
    display: block;
}

#top-menu {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent !important;
    font-size: 22px;
    /* color: rgba(100, 100, 100, 1) !important;*/
}

.top-menu-a.active {
    color: #ffffff !important;
    border-bottom: solid 3px #ffffff;
}

.top-menu-a {
    color: rgba(255, 255, 255, 0.85) !important;
}

.top-menu-a:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.breadcrumb-site {
    margin: 0 0 20px 0;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    /*padding: $breadcrumb-padding-y $breadcrumb-padding-x;*/
    /*margin-bottom: $breadcrumb-margin-bottom;*/
    font-size: 12px;
    list-style: none;
    /*background-color: $breadcrumb-bg;*/
    /*@include border-radius($breadcrumb-border-radius);*/
}

.breadcrumb-site i {
    font-size: 15px;
}

.breadcrumb-site a {
    color: var(--main-nav-color);
}

.breadcrumb-site > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb-site > li + li:before {
    content: '';
    padding: 0;
}

.breadcrumb-site > li:after {
    content: '>';
    display: block;
    position: absolute;
    top: 0px;
    right: -5px;
    /*  width: 26px;
      height: 26px;
      border-right: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);*/
}

.img-responsive {
    /* display: block;*/
    max-width: 100%;
    height: auto;
}

.sort-bar {
    position: relative;
    border-radius: 3px;
    border: 1px solid var(--main-nav-color);
    border-top: 5px solid var(--main-nav-color);;
    margin: 0 -7px;
    box-sizing: border-box;
}

.sort-bar > ul {
    display: flex;
    flex-wrap: nowrap;

    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    position: relative;
    width: 100%;
}

.sort-bar > ul > li {
    border: 1px solid var(--main-nav-color);
    margin-bottom: -1px;
    flex-grow: 1;
    color: var(--main-dark2-color);
}

.sort-bar > ul > li > a {

    display: block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
    padding: 2px 8px;
}

.sort-bar > ul > li > a:hover {
    color: var(--main-dark2-color);
    background-color: #ddfaff;
}

.sort-bar > ul > li.select {
    background-color: #208a2b !important;
    color: white !important;
    border: 0;
}

.sort-bar > ul > li.select > a {

    color: white !important;

}

.sort-bar > ul > li.select > a:hover {
    background-color: #208a2b !important;
    color: white !important;
    border: 0;
}

.new-object-booking {
    position: absolute;
    top: 0px;
    left: 0px;

    border: 22px solid transparent;
    border-left: 22px solid #00a500;
    border-top: 22px solid #00a500;
}
.new-object-booking>.new-text {
    position: absolute;
    top: -18px;
    left: -22px;
    color: white;
    font-weight: 700;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.image-car-list {
    float: left;
}


.caption-car-list {
    min-height: 228px;
    margin-left: 230px;
}

.image-fun-list {
    float: left;
}
.caption-fun-list {
    min-height: 228px;
    margin-left: 230px;
}

.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 1rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}

.card-object {
    font-weight: 600;
    /*letter-spacing: 3px;*/
    font-size: 15px !important;
    color: #000;
    /* color: #2aabd2 !important;*/
}
.card-object:hover {
    color: #2aabd2 !important;

}

.color-card-body {
    background-color: #f6f7f5 !important;
    border: 0 !important;
}

.color-card-footer {
    background-color: #e6e7e5;
    border-color: #e6e7e5;
}

.margin-card-footer {
    margin-left: -6px !important;
    margin-right: -6px !important;
}

/*  STAY  */

.image-stay-list {
    float: left;
}

.caption-stay-list {
    min-height: 228px;
    margin-left: 230px;
}

.not-flex>.input-group {
    display: contents !important;
}

.form-control-xl {
    height: calc(1.5em + 1.5rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
    opacity: 1;
}

.leftbar-search-stays-fields {
    border: 1px solid #888;
}

.search-block {
    border-bottom: 1px solid #888;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-block.last-block {
    border-bottom: 0px;
}


.search-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.search-fields label {
    font-size: 14px !important;
    padding-top: 6px;
    padding-left: 10px;
    margin-bottom: 8px;
}

.search-fields >.form-group {
    margin-bottom: 2px !important;
}

.search-fields>.form-group>div>.custom-control>.custom-control-label:before,
.search-fields>.form-group>div>.custom-control>.custom-control-label:after,
.search-fields>.form-group>.custom-control>.custom-control-label:after,
.search-fields>.form-group>.custom-control>.custom-control-label:before,
.search-fields>.form-group>.custom-control>.custom-control-input
{
    width: 2rem !important;
    height: 2rem !important;
}

.search-stay-not-margin>span>.form-group {
    margin-top: 2px;
    margin-bottom: 2px;
}


.up-image {
    position: relative;
    z-index: 0;
}

.up-image:hover {
    background-color: transparent;
    z-index: 50;
}

.up-image span{ /*CSS for enlarged image*/
    position: absolute;
    background-color: #000000;
    padding: 5px;
    left: -1000px;
    border: 0;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.up-image span img{ /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}
.up-image:hover span{ /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0;
    left: 60px; /*position where enlarged image should offset horizontally */
}

.title-blog-wodget {
    font-size: 15px !important;
    color: white;
    text-shadow: black 2px 2px 1px;
}

.footer-title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.rating-tour {
    color: #F8CA03;
    font-size: 12px !important;
}

.gallery {
    display: grid;
    gap: 16px;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-areas:
            "a b"
            "a c";
    grid-template-columns: 48fr 23fr;
}
.gallery .item-gallery {
    position: relative;
    flex: 1;
    margin: 0;
}

.gallery .item-gallery:first-child {
    grid-area: a;
    grid-row-start: a;
    grid-column-start: a;
    grid-row-end: a;
    grid-column-end: a;
}

.gallery .item-gallery:nth-child(2) {
    grid-area: b;
    grid-row-start: b;
    grid-column-start: b;
    grid-row-end: b;
    grid-column-end: b;
}

.gallery .item-gallery:nth-child(3) {
    grid-area: c;
    grid-row-start: c;
    grid-column-start: c;
    grid-row-end: c;
    grid-column-end: c;
}
.gallery .item-gallery:nth-child(n+4) {
    display: none;
}
.photo-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}

.photo-count {
    font-size: 38px;
    color: #fff;
}
@media only screen and (max-width: 1024px) {
    .gallery {
        gap: 2vw;
    }
}

.search-guest {
    padding-right: 12px;
}
.search-children {
    padding-left: 12px;
}

@media (min-width: 992px) {
    .search-guest {
        padding-right: 0;

    }
    .search-children {
        padding-left: 0;
    }
}


#searchstayform-guest.form-control-xl {
    padding-left: 6px;
    padding-right: 3px;
}
#children.form-control-xl {
    padding-left: 6px;
}
.landing-block-center {
    padding-top: 20px;
    text-align: center;
    display: block;
    align-items: center;
}
.landing-header {
    transition: all 200ms ease-out 0s;
    background: rgba(1,0,0,0.4);
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    right: inherit;
    bottom: inherit;
    transform: translate(-50%, -75%);
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.landing-h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-weight: 400;
    font-size: 72px !important;
    color: #FFF !important;
    margin-bottom: 17px;
}

.landing-h2 {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    color: white;
}

.line-t {
    margin-right: 15px;
    width: 74px;
    height: 2px;
    background: #ffffff;
}


.line-b-title {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    margin-left: 10px;
    width: 74px;
    height: 2px;
    background: #226b8a;
    align-items: center;
    letter-spacing: 5px;
}

.line-t-title {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    margin-right: 15px;
    width: 74px;
    height: 2px;
    background: #226b8a;
    align-items: center;
    letter-spacing: 5px;
}


.line-b {
    margin-left: 10px;
    width: 74px;
    height: 2px;
    background: #ffffff;
}

.landing-title-h2 {
    font-size: 36px;
    text-align: center !important;
    align-items: center;
    display: inline-flex;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 40px;
}
.landing-top-contact {
    font-size: 16px;
    color: white;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
.landing-logo {
    width: auto;
    display: block !important;
    text-decoration: none;
}
.landing-logo img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    display: inline-block;
    margin-top: -13px;

}
.mobile-landing {
    display: block;
    background: url(https://static.koenigs.ru/files/images/landing/other/background.jpg) no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
.container-mobile {

    margin-right: -36px;
    margin-top: -36px;
    margin-bottom: -30px;
    padding: 0;
    width: 100%;
}